/* Estilos para el formulario de inicio de sesión */
.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../../assets/imagen-fondo.png'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-position: center; /* Centra la imagen en el contenedor */
  }
  
  .Form label {
    font-size: 1rem;
    margin-bottom: 4px;
  }
  
  .Form input {
    padding: 8px;
    margin: 4px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .Form button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .Form button:hover {
    background-color: #0056b3;
  }
  
  .Form .error {
    color: red;
    font-size: 0.8rem;
    margin-top: 4px;
  }
  
  /* Otros estilos específicos del formulario si es necesario */
  